<h3><a class="btn btn-secondary" href="/hotel">Add New</a> Hotel Information</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Ratings</th>
            <th>Price</th>
            <th>Currency</th>
            <th>Home Page</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each info}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.location}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.ratings}}</td>
            <td>{{this.price}}</td>
            <td>{{this.currency}}</td>
            <td>{{this.homePage}}</td>
            <td>
                <a class="btn btn-success" href="/hotel/{{this._id}}">Edit</a>
                <a class="btn btn-danger" href="/hotel/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>